* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(200, 70%, 50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box {
  width: 50%;
  height: 50%;
  background-color: #DA56D4;
  color: white;
  display: inline-block;
  vertical-align: top;
}

.box-1 {
  /*background-color: hsl(220, 70%, 50%);*/
  background: white;
  top: 55%;
  left: 55%;
}

.box-2 {
  /*background-color: hsl(240, 70%, 50%);*/
  /*background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKklEQVQYV2O8c//T/4sXjjHoG1gxwGjGtet3/P92+DUDl60oA4xmpEwlADDWLzBU5xboAAAAAElFTkSuQmCC); */
  background: #DA56D4;
background: -webkit-linear-gradient(bottom right, #DA56D4, #708DE1);
background: -moz-linear-gradient(bottom right, #DA56D4, #708DE1);
background: linear-gradient(bottom right, #DA56D4, #708DE1);
}
